* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.primary-btn{
    color: white;
    padding: 13px 23px;
    background-color: #30B868;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
}
.primary-btn:hover{
    background-color: #2f965a;
    transition-duration: .3s;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-logo {
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 7px 13px;
  font-weight: bold;
}
nav ul li a:hover{
    background-color: rgb(241, 241, 241);
    border-radius: 7px;
    transition-duration: .3s;
}
.banner{
  background-image: url('./assets/hero-bg.png');
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-title{
  color: #30B868;
  border: none;
  font-size: 16px;
  padding: 3px 13px ;
  border-radius: 50px;
}
.banner h1{
  font-size: 3rem;
  color: white;
  line-height: 3rem;
  margin: 20px 0;
}
.banner h1 span{
  color: #30B868;
}
.banner p{
  color: white;
  max-width: 600px;
  text-align: center;
  margin: 20px 0;
}
.banner .banner-btn{
  display: flex;
  gap: 20px;
}
.banner .hero-btn-2{
  background-color: transparent;
  border: 1px solid white;
}
.banner .hero-btn-2:hover{
  background-color: #30B868;
  border: 1px solid #30B868;
  transition-duration: .3s;
}