* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.primary-btn{
    color: white;
    padding: 13px 23px;
    background-color: #30B868;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
}
.primary-btn:hover{
    background-color: #2f965a;
    transition-duration: .3s;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-logo {
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 7px 13px;
  font-weight: bold;
}
nav ul li a:hover{
    background-color: rgb(241, 241, 241);
    border-radius: 7px;
    transition-duration: .3s;
}
