* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.primary-btn {
  color: white;
  padding: 13px 23px;
  background-color: #30b868;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 7px;
  display: flex;
  gap: 7px;
}
.primary-btn:hover {
  background-color: #2f965a;
  transition-duration: 0.3s;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  max-width: 1200px;
  margin: 0 auto;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 7px 13px;
  font-weight: bold;
}
nav ul li a:hover {
  background-color: rgb(241, 241, 241);
  border-radius: 7px;
  transition-duration: 0.3s;
}
.banner {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-title {
  color: #30b868;
  border: none;
  font-size: 16px;
  padding: 3px 13px;
  border-radius: 50px;
}
.banner h1 {
  font-size: 3rem;
  color: white;
  line-height: 3rem;
  margin: 20px 0;
}
.banner h1 span {
  color: #30b868;
}
.banner p {
  color: white;
  max-width: 600px;
  text-align: center;
  margin: 20px 0;
}
.banner .banner-btn {
  display: flex;
  gap: 20px;
}
.banner .hero-btn-2 {
  background-color: transparent;
  border: 1px solid white;
}
.banner .hero-btn-2:hover {
  background-color: #30b868;
  border: 1px solid #30b868;
  transition-duration: 0.3s;
}
.note {
  max-width: 1200px;
  margin: 50px auto;
}
.note .note-title {
  text-align: center;
}
.note .note-title p {
  margin: 15px 0 50px 0;
  font-size: 12px;
  color: rgb(105, 105, 105);
}
.note-details {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.note-details .note-card {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  padding: 0 10px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgb(231, 231, 231);
  background-color: rgb(248, 248, 248);
}
.note-details .note-logo {
  padding: 15px;
  border-radius: 50px;
  background-color: #f95555;
  display: inline-flex;
}
.note-details h2{
  text-align: center;
  margin-top: 10px;
}
.note-details p{
  text-align: center;
  margin-top: 10px;
}
.hero{
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
}
/* .hero .hero-img{
  border: 1px solid red;
  width: 400px;
} */
.hero .hero-alert{
  color: #30b868;
  margin-bottom: 10px;
}
.hero .hero-title{
  line-height: 30px;
  margin-bottom: 30px;
}
.hero .hero-des{
  color: #555555;
  margin-bottom: 20px;
}
.hero ul li{
  list-style-type: none;
  display: flex;
  gap: 7px;
}
.details{
  max-width: 1200px;
  margin: 50px auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f6f2;
  border-radius: 12px;
}
.details .details-des{
  text-align: center;
  margin: 20px 0;
  color: #5c5c5c;
}
.details .details-alrt{
  color: #5c5c5c;
  margin-top: 20px;
}
footer{
  background-color: #001931;
  color: white;
}
footer .upper-footer{
  max-width: 1200px;
  margin:0 auto;
  /* border: 1px solid red; */
  border-bottom: .5px solid #153858;
  padding: 70px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
footer .upper-footer p{
  font-size: 20px;
  margin-bottom: 10px;
}
footer .social-links ul li{
  list-style-type: none;
  display: inline;
  margin: 5px;
}
footer .lower-footer{
  text-align: center;
  padding-bottom: 30px;
}